![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

### SQL

#### Problem 1. Revising the Select Query I

Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * FROM city WHERE countrycode = 'USA' AND population > 100000

#### Problem 2. Revising the Select Query II

Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT name FROM city WHERE countrycode = 'USA' AND population > 120000;

#### Problem 3. Weather Observation Station 10

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
# Solution
# SELECT DISTINCT city FROM station WHERE LOWER(RIGHT(city,1)) NOT IN ('a','e','i','o','u');

#### Problem 4. Employee Salaries

Write a query that prints a list of employee names (i.e.: the name attribute) for employees in ***Employee*** having a salary greater than ***$2000*** per month who have been employees for less than ***10*** months. Sort your result by ascending employee_id.


**Input Format**

The **Employee** table containing employee data for a company is described as follows:

| Column | Type |
|:----:|:---:|
| employee_id | Integer |
| name | String |
| months | Integer |
| salary | Integer |

In [0]:
# Solution
# SELECT name FROM employee WHERE months < 10 AND salary > 2000 ORDER BY employee_id ASC;

#### Problem 5. Japanese Cities' Attributes


Query all attributes of every Japanese city in the **CITY** table. The COUNTRYCODE for Japan is JPN.


**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * FROM city WHERE countrycode = 'JPN';

### Python

#### Problem 1. List Comprehensions

Let's learn about list comprehensions! You are given three integers **X, Y** and **Z**  representing the dimensions of a cuboid along with an integer **N**. You have to print a list of all possible coordinates given by **(i, j, k)** on a 3D grid where the sum of **i + j + k** is not equal to N. Here **0 <= i <= X, 0 <= j <= Y, 0 <= k <= Z**

**Input Format**

Four integers **X, Y, Z** and **Z** each on four separate lines, respectively.

**Constraints**

Print the list in lexicographic increasing order.

**Sample Input 0**

1

1

2

2

**Sample Output 0**

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

lst = [[X, Y, Z] for X in range(x + 1) for Y in range(y + 1) for Z in range(z + 1) if X + Y + Z != n]
print(lst)

4
5
7
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 0, 5], [0, 0, 6], [0, 0, 7], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 4], [0, 1, 5], [0, 1, 6], [0, 1, 7], [0, 2, 0], [0, 2, 1], [0, 2, 3], [0, 2, 4], [0, 2, 5], [0, 2, 6], [0, 2, 7], [0, 3, 0], [0, 3, 2], [0, 3, 3], [0, 3, 4], [0, 3, 5], [0, 3, 6], [0, 3, 7], [0, 4, 1], [0, 4, 2], [0, 4, 3], [0, 4, 4], [0, 4, 5], [0, 4, 6], [0, 4, 7], [0, 5, 0], [0, 5, 1], [0, 5, 2], [0, 5, 3], [0, 5, 4], [0, 5, 5], [0, 5, 6], [0, 5, 7], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 4], [1, 0, 5], [1, 0, 6], [1, 0, 7], [1, 1, 0], [1, 1, 1], [1, 1, 3], [1, 1, 4], [1, 1, 5], [1, 1, 6], [1, 1, 7], [1, 2, 0], [1, 2, 2], [1, 2, 3], [1, 2, 4], [1, 2, 5], [1, 2, 6], [1, 2, 7], [1, 3, 1], [1, 3, 2], [1, 3, 3], [1, 3, 4], [1, 3, 5], [1, 3, 6], [1, 3, 7], [1, 4, 0], [1, 4, 1], [1, 4, 2], [1, 4, 3], [1, 4, 4], [1, 4, 5], [1, 4, 6], [1, 4, 7], [1, 5, 0], [1, 5, 1], [1, 5, 2], [1, 5, 3], [1, 5, 4], [1, 5, 5], [1, 5, 6], [1, 5, 7], [2, 0, 0], [2, 0, 1], [2, 0, 3], [2, 0, 4], [2, 0, 5], [2, 0, 6], [2, 0, 7], [2, 1, 0], [2, 1, 2], [2, 1, 3], [2, 1, 4], [2, 1, 5], [2, 1, 6], [2, 1, 7], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 2, 4], [2, 2, 5], [2, 2, 6], [2, 2, 7], [2, 3, 0], [2, 3, 1], [2, 3, 2], [2, 3, 3], [2, 3, 4], [2, 3, 5], [2, 3, 6], [2, 3, 7], [2, 4, 0], [2, 4, 1], [2, 4, 2], [2, 4, 3], [2, 4, 4], [2, 4, 5], [2, 4, 6], [2, 4, 7], [2, 5, 0], [2, 5, 1], [2, 5, 2], [2, 5, 3], [2, 5, 4], [2, 5, 5], [2, 5, 6], [2, 5, 7], [3, 0, 0], [3, 0, 2], [3, 0, 3], [3, 0, 4], [3, 0, 5], [3, 0, 6], [3, 0, 7], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 1, 4], [3, 1, 5], [3, 1, 6], [3, 1, 7], [3, 2, 0], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 2, 4], [3, 2, 5], [3, 2, 6], [3, 2, 7], [3, 3, 0], [3, 3, 1], [3, 3, 2], [3, 3, 3], [3, 3, 4], [3, 3, 5], [3, 3, 6], [3, 3, 7], [3, 4, 0], [3, 4, 1], [3, 4, 2], [3, 4, 3], [3, 4, 4], [3, 4, 5], [3, 4, 6], [3, 4, 7], [3, 5, 0], [3, 5, 1], [3, 5, 2], [3, 5, 3], [3, 5, 4], [3, 5, 5], [3, 5, 6], [3, 5, 7], [4, 0, 1], [4, 0, 2], [4, 0, 3], [4, 0, 4], [4, 0, 5], [4, 0, 6], [4, 0, 7], [4, 1, 0], [4, 1, 1], [4, 1, 2], [4, 1, 3], [4, 1, 4], [4, 1, 5], [4, 1, 6], [4, 1, 7], [4, 2, 0], [4, 2, 1], [4, 2, 2], [4, 2, 3], [4, 2, 4], [4, 2, 5], [4, 2, 6], [4, 2, 7], [4, 3, 0], [4, 3, 1], [4, 3, 2], [4, 3, 3], [4, 3, 4], [4, 3, 5], [4, 3, 6], [4, 3, 7], [4, 4, 0], [4, 4, 1], [4, 4, 2], [4, 4, 3], [4, 4, 4], [4, 4, 5], [4, 4, 6], [4, 4, 7], [4, 5, 0], [4, 5, 1], [4, 5, 2], [4, 5, 3], [4, 5, 4], [4, 5, 5], [4, 5, 6], [4, 5, 7]]

#### Problem 2. Division

**Task**

Read two integers and print two lines. The first line should contain integer division, **a // b**. The second line should contain float division, **a / b**.

You don't need to perform any rounding or formatting operations.

**Input Format**

The first line contains the first integer, **a**. The second line contains the second integer, **b**.

**Output Format**

Print the two lines as described above.

**Sample Input 0**

4

3


**Sample Output 0**

1

1.33333333333

In [0]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a // b)
print(a / b)

#### Problem 3. Finding the percentage

**Task**

You have a record of **N** students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer **N** followed by the names and marks for **N** students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places.

**Input Format**

The first line contains the integer **N**, the number of students. The next **N** lines contains the name and marks obtained by that student separated by a space. The final line contains the name of a particular student previously listed.

**Constraints**

**2 <= N <= 10**

**0 <= Marks <= 100**


**Output Format**

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

**Sample Input 0**

3

Krishna 67 68 69

Arjun 70 98 63

Malika 52 56 60

Malika


**Sample Output 0**

56.00

In [0]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

    student = student_marks[query_name];

    score_average = sum(student) / len(student)
    
    print("{0:.2f}".format(round(score_average ,2)))

#### Problem 4. Find a string


**Task**

In this challenge, the user enters a string and a substring. You have to print the number of times that the substring occurs in the given string. String traversal will take place from left to right, not from right to left.

**NOTE**: String letters are case-sensitive.

**Input Format**

The first line of input contains the original string. The next line contains the substring.

**Constraints**

**1 <= len(string) <= 200*


**Output Format**

Output the integer number indicating the total number of occurrences of the substring in the original string.

**Sample Input 0**

ABCDCDC

CDC


**Sample Output 0**

2

In [0]:
def count_substring(string, sub_string):
    countt = 0;
    lst_index = set()
    for i in range(0, len(string), 1):
        index = string.find(sub_string, i)
        if(index != -1): 
          countt += 1
          lst_index.add(index)
    return len(lst_index)

#### Problem 5. Nested Lists


**Task**

Given the names and grades for each student in a Physics class of **N** students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.


**NOTE**: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

**Input Format**

The first line contains an integer, **N**, the number of students.
The **2N** subsequent lines describe each student over **2** lines; the first line contains a student's name, and the second line contains their grade.

**Constraints**

**2 <= N <= 5**

There will always be one or more students having the second lowest grade.


**Output Format**

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.


**Sample Input 0**

5

Harry

37.21

Berry

37.21

Tina

37.2

Akriti

41

Harsh

39


**Sample Output 0**

Berry

Harry

In [0]:
if __name__ == '__main__':
    lst = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        lst.append([name, score])

    lst.sort(key=lambda e: e[1])
    val = -1;
    lstName = []
    for i in range(1, len(lst)):
        if val == -1 and lst[i][1] != lst[0][1]: val = lst[i][1]
        if(val != -1 and lst[i][1] == val): lstName.append(lst[i][0])
        elif(val != -1 and lst[i][1] != val): break

    lstName.sort()
    for i in lstName: print(i)